<vlb-business-vnf-onap-plugin xmlns="urn:opendaylight:params:xml:ns:yang:vlb-business-vnf-onap-plugin">
<vdns-instances>
<vdns-instance>
<ip-addr>$vdns_int_private_ip_0</ip-addr>
<oam-ip-addr>$vdns_onap_private_ip_0</oam-ip-addr>
<enabled>false</enabled>
</vdns-instance>
</vdns-instances>
</vlb-business-vnf-onap-plugin>
