<div class="primary-nav">
  <img class="logo-icon open-panel nav-toggle" src="../assets/img/logo-icon.svg" title="CDS Home">
  <!-- <span class="app_version">v1.0.1</span> -->
  <nav role="navigation" class="menu">
    <img class="logotype" src="../assets/img/logo-text.svg">
    <div class="overflow-container">
      <ul class="menu-dropdown">
        <li class="active">
          <a routerLink="/packages">Packages</a>
          <span class="icon">
            <!-- <i class="fa fa-dashboard"></i> -->
            <i class="icon-nav-packages"></i>
          </span>
        </li>
        <li>
          <a routerLink="/resource-dictionary">Resource Dictionary</a>
          <span class="icon">
            <i class="icon-nav-dictionary"></i>
          </span>
        </li>
          <!-- <label title="toggle menu" for="settings">
            <span class="downarrow">
              <i class="fa fa-caret-down"></i>
            </span>
          </label>
          <input type="checkbox" class="sub-menu-checkbox" id="settings" />
         <ul class="sub-menu-dropdown">
            <li>
              <a href="">Link</a>
            </li>
            <li>
              <a href="">Link</a>
            </li>
            <li>
              <a href="">Link</a>
            </li>
          </ul>
        </li> -->
        <!-- <li>
            <a href="#">Favourites</a>
            <span class="icon">
              <i class="fa fa-heart"></i>
            </span>
          </li>
          <li>
            <a href="#">Messages</a>
            <span class="icon">
              <i class="fa fa-envelope"></i>
            </span>
          </li> -->
      </ul>
    </div>
    <!-- <ul class="menu-dropdown userProfile">
      <li>
        <div class="dropdown">
          <input class="dropdown-toggle" type="text">
          <div class="dropdown-text">User name</div>
          <ul class="dropdown-content">
            <li>
              <a href="#">Settings</a>
            </li>
            <li>
              <a href="#">Projects</a>
            </li>
            <li>
              <a href="#">Log out</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>-->

  </nav>
</div>