a.accordion-delete i {
    color: red;
}

a.accordion-delete i:hover {
    color: #007bff;
    cursor: pointer;
    transition-duration: .5s;
    /* for Safari & Chrome */
    -webkit-transition-duration: .5s;
}