[access]
	inheritFrom = ccsdk
[project]
	description = Controller Design Studio (design-time tool : evolution of appc/cdt)
[access "refs/*"]
	owner = group ldap/lf-gerrit-transfer
	forgeCommitter = group ldap/lf-gerrit-transfer
	push = +force group ldap/lf-gerrit-transfer
	pushMerge = group ldap/lf-gerrit-transfer
