{{ node0_hostname }}
{{ node1_hostname }}
This will be kept as-is {{ node0_backup_router_address }}
{{ node0_hostname }}
Even this one {{ node1_backup_router_address }} as it doesn't matter if variable is surrounded by text
{{ node2_backup_router_address }} {{ node1_backup_router_address }} Even this One if multiple variable in same line
