<configuration>
        <interfaces>
            <interface>
                <name>$interface-name</name>
                <unit operation="create">
                    <name>$unit-number</name>
                    <description>$interface-description</description>
                    <family>
                        <inet>
                            <address>
                                <name>$vfw_interface_ip.address</name>
                            </address>
                        </inet>
                    </family>
                </unit>
            </interface>
        </interfaces>
</configuration>