  <isis xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-clns-isis-cfg">
   <instances>
    <instance>
     <instance-name>BELL</instance-name>
     <running></running>
     <is-type>level2</is-type>
     <nets>
      <net>
       <net-name>{{netID}}</net-name>
      </net>
     </nets>
     <nsr></nsr>
     <log-adjacency-changes></log-adjacency-changes>
     <lsp-generation-intervals>
      <lsp-generation-interval>
       <level>not-set</level>
       <maximum-wait>5000</maximum-wait>
       <initial-wait>20</initial-wait>
       <secondary-wait>100</secondary-wait>
      </lsp-generation-interval>
     </lsp-generation-intervals>
     <lsp-refresh-intervals>
      <lsp-refresh-interval>
       <level>not-set</level>
       <interval>35000</interval>
      </lsp-refresh-interval>
     </lsp-refresh-intervals>
     <lsp-lifetimes>
      <lsp-lifetime>
       <level>not-set</level>
       <lifetime>65535</lifetime>
      </lsp-lifetime>
     </lsp-lifetimes>
     <afs>
      <af>
       <af-name>ipv4</af-name>
       <saf-name>unicast</saf-name>
       <af-data>
        <metric-styles>
         <metric-style>
          <level>not-set</level>
          <style>new-metric-style</style>
          <transition-state>disabled</transition-state>
         </metric-style>
        </metric-styles>
        <metrics>
         <metric>
          <level>not-set</level>
          <metric>100000</metric>
         </metric>
        </metrics>
        <micro-loop-avoidance>
         <enable>micro-loop-avoidance-segement-routing</enable>
         <rib-update-delay>20000</rib-update-delay>
        </micro-loop-avoidance>
        <advertise-passive-only></advertise-passive-only>
        <spf-intervals>
         <spf-interval>
          <level>not-set</level>
          <maximum-wait>5000</maximum-wait>
          <initial-wait>50</initial-wait>
          <secondary-wait>150</secondary-wait>
         </spf-interval>
        </spf-intervals>
        <segment-routing>
         <mpls>segment-routing</mpls>
        </segment-routing>
        <spf-prefix-priorities>
         <spf-prefix-priority>
          <level>not-set</level>
          <prefix-priority-type>high-priority</prefix-priority-type>
          <access-list-name>ISIS-PREFIX-PRIORITY-HIGH</access-list-name>
         </spf-prefix-priority>
         <spf-prefix-priority>
          <level>not-set</level>
          <prefix-priority-type>medium-priority</prefix-priority-type>
          <access-list-name>ISIS-PREFIX-PRIORITY-MEDIUM</access-list-name>
         </spf-prefix-priority>
        </spf-prefix-priorities>
       </af-data>
      </af>
     </afs>
     <interfaces>
      {%- for item in ifList %}
      <interface>
       <interface-name>{{item["ifName"]}}</interface-name>
       <running></running>
       {%- if item["ifPassive"] %}
       <state>passive</state>
       {%- endif %}
       {%- if item["ifBfd"] %}
       <bfd>
        <interval>250</interval>
        <detection-multiplier>3</detection-multiplier>
        <enable-ipv4>true</enable-ipv4>
       </bfd>
       {%- endif %}
       {%- if item["ifP2P"] %}
       <point-to-point></point-to-point>
       {%- endif %}
       <interface-afs>
        <interface-af>
         <af-name>ipv4</af-name>
         <saf-name>unicast</saf-name>
         <interface-af-data>
          <running></running>
          {%- if item["ifFrr"] %}
          <interface-frr-table>
           <frr-types>
            <frr-type>
             <level>not-set</level>
             <type>per-prefix</type>
            </frr-type>
           </frr-types>
           <interface-frr-tiebreakers>
            <interface-frr-tiebreaker>
             <level>not-set</level>
             <tiebreaker>node-protecting</tiebreaker>
             <index>100</index>
            </interface-frr-tiebreaker>
           </interface-frr-tiebreakers>
           <frrtilfa-types>
            <frrtilfa-type>
             <level>not-set</level>
            </frrtilfa-type>
           </frrtilfa-types>
          </interface-frr-table>
          {%- endif %}
          <metrics>
           <metric>
            <level>not-set</level>
            <metric>{{item["ifMetric"]}}</metric>
           </metric>
          </metrics>
          {%- if item["pSID"] %}
          <prefix-sid>
           <type>index</type>
           <value>{{item["pSID"]}}</value>
           <php>enable</php>
           <explicit-null>disable</explicit-null>
           <nflag-clear>disable</nflag-clear>
          </prefix-sid>
          {%- endif %}
         </interface-af-data>
        </interface-af>
       </interface-afs>
      </interface>
      {%- endfor %}
     </interfaces>
    </instance>
   </instances>
  </isis>
