grpcio==1.48.2
grpcio-tools==1.48.2
protobuf==3.20.3
configparser==7.1.0
requests==2.31.0
ncclient==0.6.15
ansible-core==2.14.17
opentelemetry-distro==0.44b0
opentelemetry-exporter-otlp-proto-http==1.23.0
