{
    "pnf-id" : "${pnf-id}",
    "pnf-ipv4-address" : "${pnf-ipv4-address}",
    "netconf-password" : "${netconf-password}",
    "netconf-username" : "${netconf-username}",
    "netconf-server-port" : "${netconf-server-port}",
    "stream-count" : "${stream-count}"
}
