<configuration xmlns="http://xml.juniper.net/xnm/1.1/xnm"
xmlns:a="http://xml.juniper.net/junos/15.1X49/junos">
	<version>15.1X49-D50.3</version>	
	<groups>
		<name>node0</name>
		<system>
		#foreach($server in ${servers})
			<server-host-name>$StringUtils.upperCase("$server")</server-host-name>
		#end
		</system>
		<system>
			<host-name>${node0_hostname}</host-name>
			<backup-router>
				<address>${node0_backup_router_address}</address>
				<destination>$node0_backup_router_address</destination>
			</backup-router>
			#foreach($tacplus-server in ${tacplus-servers})
			<tacplus-server>
				<name>$tacplus-server.tacplus-server-name</name>
				<source-address>$tacplus-server.tacplus-server-source-address</source-address>
			</tacplus-server>
			#end
			<login>
				<message>AT&amp;T information assets</message>
				#foreach($class in ${classes})
				<class>
					<name>$class.name</name>
					<idle-timeout>$class.idle-timeout</idle-timeout>
					#if ($class.permissions)
					<permissions>$class.permissions</permissions>
					#end
				</class>
				#end	
				<user>
					<name>readonly</name>
					<full-name>Read Only Account Access</full-name>
					<uid>1001</uid>
					<class>tacacs-base-class</class>
				</user>
				<user>
					<name>readwrite</name>
					<full-name>Read - Write Account Access</full-name>
					<uid>1002</uid>
					<class>tacacs-adv-class</class>
					<authentication>
						<encrypted-password>${system-password}</encrypted-password>
					</authentication>
				</user>
				<user>
					<name>readwrite</name>
					<full-name>Emergency Access Only</full-name>
					<uid>1000</uid>
					<class>superuser-class</class>
					<authentication>
						<encrypted-password>${root-password}</encrypted-password>
					</authentication>
				</user>
			</login>
		</system>		
	</groups>	
</configuration>