@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pg9o1c');
  src:  url('fonts/icomoon.eot?pg9o1c#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pg9o1c') format('truetype'),
    url('fonts/icomoon.woff?pg9o1c') format('woff'),
    url('fonts/icomoon.svg?pg9o1c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-autoMap:before {
  content: "\e90a";
}
.icon-get_started:before {
  content: "\e908";
}
.icon-user_guide:before {
  content: "\e909";
}
.icon-enrich:before {
  content: "\e907";
}
.icon-rectangle:before {
  content: "\e906";
}
.icon-file:before {
  content: "\e905";
  color: #1b3e6f;
}
.icon-action-back:before {
  content: "\e904";
  color: #1b3e6f;
}
.icon-action-close:before {
  content: "\e903";
  color: #1b3e6f;
}
.icon-enter-link:before {
  content: "\e902";
}
.icon-use-attributes:before {
  content: "\e900";
}
.icon-upload-attributes:before {
  content: "\e901";
}
.icon-add:before {
  content: "\e915";
}
.icon-archive-sm:before {
  content: "\e952";
}
.icon-btn-card-config:before {
  content: "\e953";
}
.icon-btn-card-topology:before {
  content: "\e954";
}
.icon-clone-sm:before {
  content: "\e955";
}
.icon-close:before {
  content: "\e956";
}
.icon-comType1:before {
  content: "\e957";
}
.icon-comType1-sm:before {
  content: "\e958";
}
.icon-comType2:before {
  content: "\e959";
}
.icon-comType2-sm:before {
  content: "\e95a";
}
.icon-comType3:before {
  content: "\e95b";
}
.icon-comType3-sm:before {
  content: "\e95c";
}
.icon-comType4-sm:before {
  content: "\e95d";
}
.icon-create-white:before {
  content: "\e95e";
}
.icon-delete-sm:before {
  content: "\e95f";
}
.icon-deploy-inactive:before {
  content: "\e965";
}
.icon-discard-sm:before {
  content: "\e966";
}
.icon-download:before {
  content: "\e967";
}
.icon-drag:before {
  content: "\e968";
}
.icon-edit:before {
  content: "\e969";
}
.icon-file-code:before {
  content: "\e96a";
}
.icon-import-blue:before {
  content: "\e96b";
}
.icon-info:before {
  content: "\e96c";
}
.icon-menuDots:before {
  content: "\e96d";
}
.icon-nav-dictionary:before {
  content: "\e96e";
}
.icon-nav-packages:before {
  content: "\e96f";
}
.icon-redo:before {
  content: "\e970";
}
.icon-remove-file:before {
  content: "\e971";
}
.icon-save-sm:before {
  content: "\e972";
}
.icon-search:before {
  content: "\e973";
}
.icon-search-light:before {
  content: "\e974";
}
.icon-topologySource:before {
  content: "\e975";
}
.icon-topologyView-active:before {
  content: "\e976";
}
.icon-undoActive:before {
  content: "\e977";
}
.icon-zoomIn:before {
  content: "\e978";
}
.icon-zoomOut:before {
  content: "\e979";
}
